<!-- Wrapper -->
<div class="wrapper">

    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="Portfolio">Portfolio</div>
                    <div class="h-subtitle typing-bread">
                        <p><a [routerLink]="['/']">Home</a> / <a>Portfolio</a></p>
                    </div>
                    <span class="typed-bread"></span>
                </div>
            </div>
        </div>
        <a [routerLink]="['portfolio']" class="mouse_btn"><span class="ion ion-mouse"></span></a>
    </div>

    <!-- Works -->
    <div class="section works">
        <div class="content">
            <div class="title">
                <div class="title_inner">Recent Works</div>
            </div>
            <div class="filter-menu">
                <div class="filters">
                    <div class="btn-group">
                        <!-- <label *ngFor="let c of categories" [attr.data-text]="c.label"><input type="checkbox"
                                [value]="'f-' + c.name" />{{c.label}}</label> -->

                        <label data-text="Angular"><input type="checkbox" value="f-angular" />Angular</label>
                        <label data-text="Flutter"><input type="checkbox" value="f-flutter" />Flutter</label>
                        <!-- <label data-text="Nodejs"><input type="checkbox" value="f-nodejs" />Nodejs</label> -->
                        <!-- <label data-text="Mockups"><input type="checkbox" value="f-mockups" />Mockups</label> -->
                    </div>
                </div>
            </div>
            <div class="box-items">


                <div class="box-item f-angular">
                    <div class="image">
                        <a href="#popup-1" class="has-popup">
                            <img src="assets/images/works/trello-clone.jpg" alt="" />
                            <span class="info">
                                <span class="centrize full-width">
                                    <span class="vertical-center">
                                        <span class="ion ion-ios-plus-empty"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Angular</div>
                        <a href="#popup-1" class="name has-popup">Trello Clone</a>
                    </div>
                    <div id="popup-1" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="assets/images/works/trello-clone.jpg" alt="">
                            </div>
                            <div class="desc">
                                <div class="category">Angular</div>
                                <h4>Trello Clone using Angular</h4>
                                <p>
                                    I have create Trello Clone using Angular, using which user can create a task and add
                                    tags and slect the color of the
                                    tags. In Github, It is quite popular, it has got more than 10 ☆
                                </p>
                                <a href="https://sumitvekariya.github.io/trello-clone-angular/" target="_blank"
                                    class="btn" data-text="View Project">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-item f-angular">
                    <div class="image">
                        <a href="#popup-2" class="has-popup">
                            <img src="assets/images/works/codemarket.jpg" alt="" />
                            <span class="info">
                                <span class="centrize full-width">
                                    <span class="vertical-center">
                                        <span class="ion ion-ios-plus-empty"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Angular</div>
                        <a href="#popup-2" class="name has-popup">Codemarket</a>
                    </div>
                    <div id="popup-2" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="assets/images/works/codemarket.jpg" alt="">
                            </div>
                            <div class="desc">
                                <div class="category">Angular</div>
                                <h4>Codemarket: SALES & MARKETING AUTOMATION</h4>
                                <p>
                                    1. Grow Sales Leads & Mailing Lists <br>
                                    2. Create Personalized Content <br>
                                    3. Community Driven Landing Pages <br>

                                </p>
                                <h4>Tech Stack:</h4>
                                <p>
                                    <strong>Frontend:</strong> Angular, Server Side Rendering, WebRTC <br>
                                    <strong>Backend:</strong> Nodejs, Graphql, Serverless, MongoDB, DynamoDB, AWS
                                    Websockets
                                </p>
                                <a href="http://www.codemarket.io" target="_blank" class="btn"
                                    data-text="View Project">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-item f-flutter">
                    <div class="image">
                        <a href="#popup-3" class="has-popup">
                            <img src="https://lh3.googleusercontent.com/CczDoDxSCA532Kpm_Z3AnXAglDmZcWm2DWbN7KK60ceFnujVZ_GRxLgB4-x3wlHFaeI"
                                alt="" />
                            <span class="info">
                                <span class="centrize full-width">
                                    <span class="vertical-center">
                                        <span class="ion ion-ios-plus-empty"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Flutter</div>
                        <a href="#popup-3" class="name has-popup">Tetris: Built in Flutter</a>
                    </div>
                    <div id="popup-3" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="https://lh3.googleusercontent.com/CczDoDxSCA532Kpm_Z3AnXAglDmZcWm2DWbN7KK60ceFnujVZ_GRxLgB4-x3wlHFaeI"
                                    alt="">
                            </div>
                            <div class="desc">
                                <div class="category">Flutter</div>
                                <h4>Tetris: Built in Flutter</h4>
                                <p>
                                    I was trying to learn Flutter and I was thinking to build some Amu Bachu Chimpal
                                    app. But then I saw Tetris built in
                                    Angular, And I decided to convert the Same UI & Business Logic in Flutter. And here
                                    it is.
                                    <br>
                                    <br>
                                    <strong>Playstore
                                        Link:</strong><a
                                        href="https://play.google.com/store/apps/details?id=com.sumit.tetris">https://play.google.com/store/apps/details?id=com.sumit.tetris</a>
                                </p>
                                <a href="https://github.com/sumitvekariya/flutter-tetris" class="btn"
                                    data-text="View Project">View Project</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- <div class="box-item f-photo">
                    <div class="image">
                        <a href="#popup-4" class="has-popup">
                            <img src="assets/images/works/work4.jpg" alt="" />
                            <span class="info">
                                <span class="centrize full-width">
                                    <span class="vertical-center">
                                        <span class="ion ion-ios-plus-empty"></span>
                                    </span>
                                </span>
                            </span>
                        </a>
                    </div>
                    <div class="desc">
                        <div class="category">Photography</div>
                        <a href="#popup-4" class="name has-popup">Shopping gift bag</a>
                    </div>
                    <div id="popup-4" class="popup-box mfp-fade mfp-hide">
                        <div class="content">
                            <div class="image">
                                <img src="assets/images/works/work4.jpg" alt="">
                            </div>
                            <div class="desc">
                                <div class="category">Photography</div>
                                <h4>Shopping gift bag</h4>
                                <p>
                                    Consul latine iudicabit eu vel. Cu has animal eruditi voluptatibus. Eu volumus
                                    explicari sed. Mel mutat vituperata
                                    suscipiantur et, et fabellas explicari adipiscing quo, no mucius euismod vis. Cu vim
                                    quem quod cibo.
                                </p>
                                <a href="#" class="btn" data-text="View Project">View Project</a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>