<!-- Preloader -->
<div class="preloader">
  <div class="centrize full-width">
    <div class="vertical-center">
      <div class="pre-inner">
        <div class="load typing-load">
          <p>loading...</p>
        </div>
        <span class="typed-load"></span>
      </div>
    </div>
  </div>
</div>

<!-- Container -->
<div class="container">

  <!-- Header -->
  <header>
    <div class="head-top">
      <a href class="menu-btn"><span></span></a>
      <div class="top-menu">
        <ul>
          <li><a href class="lnk" [routerLinkActive]="''" (click)="redirectTo('resume')">Resume</a></li>
          <li><a href class="lnk" (click)="redirectTo('portfolio')">Portfolio</a></li>
          <!-- <li><a href="blog.html" class="lnk">Blog</a></li> -->
          <li><a href class="btn" (click)="redirectTo('contact')">Contacts</a></li>
        </ul>
      </div>
    </div>
  </header>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>
    <div class="soc">
      <a target="_blank" href="https://www.linkedin.com/in/sumitvekariya/"><span
          class="ion ion-social-linkedin"></span></a>
      <a target="_blank" href="https://twitter.com/SumitVekariya"><span class="ion ion-social-twitter"></span></a>
      <a target="_blank" href="https://github.com/sumitvekariya"><span class="ion ion-social-github"></span></a>
      <a target="_blank" href="https://www.instagram.com/sarkazein7"><span
          class="ion ion-social-instagram-outline"></span></a>
      <a target="_blank" href="https://medium.com/@sumitvekariya7">
        <img src="https://img.icons8.com/ios/50/000000/medium-monogram--v1.png" style="height: 15px;" />
      </a>
    </div>
    <div class="copy">© 2020 All rights reserved.</div>
    <div class="clr"></div>
  </footer>

  <!-- Lines -->
  <div class="line top"></div>
  <div class="line bottom"></div>
  <div class="line left"></div>
  <div class="line right"></div>

</div>