<!-- Wrapper -->
<div class="wrapper">

    <!-- Started -->
    <div class="section started">
        <div class="centrize full-width">
            <div class="vertical-center">
                <div class="started-content">
                    <div class="h-title glitch-effect" data-text="Sumit Vekariya"><span>Sumit
                            Vekariya</span></div>
                    <div class="h-subtitle typing-subtitle">
                        <p>Full Stack Software Engineer</p>
                        <p>Based in India</p>
                    </div>
                    <span class="typed-subtitle"></span>
                    <p>
                        <span>I’m an enterprise level web/mobile application developer with the
                            expertise in
                            Frameworks / Programming Languages <strong class="underline">Angular</strong> + <strong
                                class="underline">NodeJS</strong> +
                            <strong class="underline">NESTJS</strong> + <strong class="underline">Flutter</strong> +
                            <strong class="underline">Serverless</strong> +
                            <strong class="underline">GraphQL</strong> + <strong class="underline">WebRTC</strong>
                            etc.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>